@font-face {
  font-family: "Twitch";
  src: local("DIMIR___.TTF") format("truetype"); }
html, body, div {
  margin: 0;
  padding: 0; }

body {
  background: #FAFAFA; }

.header {
  background: #00BCD4;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }

h1 {
  margin: 0;
  font-family: "Lato";
  font-weight: 400;
  font-size: 4em;
  color: white;
  padding: 40px; }

html {
  text-align: center; }

[class^="stream-"] {
  margin: 20px 20px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), -3px 2px 15px rgba(0, 0, 0, 0.3), -3px 2px 15px rgba(0, 0, 0, 0.3); }
  [class^="stream-"] [class^="content-stream-"] {
    padding: 0;
    margin: 0;
    position: relative;
    width: 400px;
    height: 225px; }
    [class^="stream-"] [class^="content-stream-"] > img {
      width: 100%;
      height: 100%;
      margin: auto; }
    [class^="stream-"] [class^="content-stream-"] [class^="name-content-stream-"] {
      background: #00838F;
      opacity: 1;
      padding: 5px;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
      [class^="stream-"] [class^="content-stream-"] [class^="name-content-stream-"] > span {
        color: white;
        font-size: 1.3em;
        font-family: "Lora", serif;
        text-transform: uppercase;
        letter-spacing: 0.07em; }

[class^="stream-"] [class^="content-stream-"] [class^="content-hover-"] {
  display: none;
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 225px;
  background: black; }
  [class^="stream-"] [class^="content-stream-"] [class^="content-hover-"] .hover-info-overlay {
    width: 400px;
    height: 225px;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font: "Lato", sans-serif;
    padding: 0px 50px;
    font-size: 3.0em;
    font-weight: 400;
    z-index: 99; }
    [class^="stream-"] [class^="content-stream-"] [class^="content-hover-"] .hover-info-overlay .glyphicon {
      margin: 10px;
      padding-top: 10px; }
    [class^="stream-"] [class^="content-stream-"] [class^="content-hover-"] .hover-info-overlay .viewers {
      top: 0; }
  [class^="stream-"] [class^="content-stream-"] [class^="content-hover-"] .glyphicon-play {
    color: white;
    font-size: 4em;
    position: absolute;
    left: 170px;
    top: 80px;
    z-index: 999;
    animation-name: play-button-scale-down;
    animation-duration: 500ms;
    animation-iteration-count: 1; }
    [class^="stream-"] [class^="content-stream-"] [class^="content-hover-"] .glyphicon-play:hover {
      animation-name: play-button-scale-up;
      animation-duration: 500ms;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      cursor: pointer; }

[class^="content-stream-"]:hover [class^="content-hover-"] {
  display: block;
  animation-name: hover-fade-in;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes hover-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.4; } }
@keyframes play-button-scale-up {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0.5;
    transform: scale(1.5); } }
@keyframes play-button-scale-down {
  0% {
    opacity: 0.5;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
